<component name="ArtifactManager">
  <artifact type="war" name="springboot-06-web-externaltomcat:war">
    <output-path>$PROJECT_DIR$/springboot-06-web-externaltomcat/target</output-path>
    <root id="archive" name="spring-boot-starter-parent-1.5.10.RELEASE.war">
      <element id="artifact" artifact-name="springboot-06-web-externaltomcat:war exploded" />
    </root>
  </artifact>
</component>